body {
	/* background-color: #202833; */
	text-align: center;
    color: #fafafa;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a {
	color: #fafafa;
	transition: linear 0.3s;
}

a:hover {
	opacity: 0.8;
}

a, a:hover {
	text-decoration: none;
}

/* .container {
    background-color: white;
    max-width: 1000px;
    min-width: 200px;
    width: 400px;
    max-height: 1000px;
    min-height: 200px;
    height: 400px;
} */
